@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.text-hide {
  display: none;
}

/*for wrapper*/
.wrapper {
  width: 86.50%;
  max-width: 1290px;
  margin: 0 auto;
}

/*=================================
  Header-Top styling starts here
=================================*/

.header-top {
  background-color: #222834;
  padding: 17px 0;
  font-size: 13px;
}

.header-top .wrapper {
  width: 86%;
  display: flex;
  justify-content: space-between;
}

.header-top-contact>a {
  margin-right: 10px;
}

.icon {
  color: #D8DAE2;
}

.mail-icon::before {
  content: "\f0e0";
  font-family: "FontAwesome";
  margin-right: 10px;
}

.phone-icon::before {
  content: "\f879";
  font-family: "FontAwesome";
  margin-right: 10px;
}

.header-top-media {
  display: flex;
}

.facebook::before {
  content: "\f39e";
  font-family: "FontAwesome";
  margin-right: 10px;
}

.instagram::before {
  content: "\f16d";
  font-family: "FontAwesome";
  margin-right: 10px;
}

.twitter::before {
  content: "\f099";
  font-family: "FontAwesome";
  margin-right: 10px;
}

.linked-in::before {
  content: "\f08c";
  font-family: "FontAwesome";
  margin-right: 10px;
}

/*=================================
  Header-Top styling ends here
=================================*/

/*=================================
  Header-bottom styling starts here
=================================*/
.hamberger-icon {
  display: none;
}

.header-bottom {
  padding: 22px 0;
}

.header-bottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-links {
  display: flex;
}

.header-nav-links>li {
  margin-right: 110px;
  font-size: 20px;
}

.header-nav-links a {
  color: #4A4A4A;
}

.header-nav-links li:last-child {
  margin-right: 0;
}

.main-header-icons {
  display: flex;
}

.search-icon::before {
  content: "\f002";
  font-family: "FontAwesome";
  color: #1C2320;
  margin-right: 10px;
  font-size: 20px;
}

.cart-icon::before {
  content: "\f218";
  font-family: "FontAwesome";
  color: #1C2320;
  font-size: 20px;
  margin-right: 10px;
}

.profile-icon::before {
  content: "\f007";
  font-family: "FontAwesome";
  color: #1C2320;
  font-size: 20px;
  margin-right: 10px;
}

.search-icon {
  border: none;
  background: none;
}

.search-form input {
  display: none;
}

.logo a {
  color: #57B26E;
  font-size: 58px;
  font-weight: 600;
}

.cart {
  position: relative;
}

.cart-value {
  position: absolute;
  bottom: 15px;
  right: 27px;
  background-color: #D8DAE2;
  border-radius: 50%;
  width: 20px;
  padding: 2px;
  text-align: center;
}

.profile {
  position: relative;
}

.profile-value {
  position: absolute;
  bottom: 15px;
  right: 29px;
  background-color: #D8DAE2;
  border-radius: 35%;
  width: 37px;
  padding: 3px;
  text-align: center;
}

/*=================================
  Header-bottom styling ends here
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner-section {
  background-color: #EFEFEF;
  padding: 100px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.banner-section .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.previous-next-btn {
  display: flex;
  justify-content: space-between;
}

.banner-slider {
  display: flex;
  margin-bottom: 70px;
}

.banner-slider li {
  display: none;
}

.banner-slider li:first-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-slider h2 {
  font-size: 50px;
  color: #4A4A4A;
  margin-bottom: 10px;
}

.banner-slider h3 {
  font-size: 30px;
  color: #313132;
  margin-bottom: 5px;
}

.banner-slider p {
  color: #4A4A4A;
  line-height: 30px;
  max-width: 35vw;
  font-size: 18px;
}

.text-black {
  color: black;
}

.previous::before {
  content: "\f104";
  font-family: "FontAwesome";
  color: #A4CBAC;
  font-size: 50px;
}

.next::after {
  content: "\f105";
  font-family: "FontAwesome";
  color: #A4CBAC;
  font-size: 50px;
}

.previous {
  background: none;
  border: none;
  position: absolute;
  left: 0;
}

.next {
  background: none;
  border: none;
  position: absolute;
  right: 0;
}

.banner-navigation li {
  background-color: #A5CEAF;
  width: 30px;
  height: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.banner-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-text {
  margin-right: 20px;
}

.banner-navigation>.active {
  background-color: #59A96A;
}

/*=================================
  banner styling ends here
=================================*/

/*=================================
  categories styling starts here
=================================*/

.categories-section {
  padding: 100px 0;
}

.categories-section .wrapper {
  width: 78%;
  display: flex;
  flex-direction: column;
}

.category-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.category-bottom img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.category-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.category-bottom li {
  text-align: center;
}

.category-top>h2 {
  font-size: 50px;
  color: #4A4A4A;
  margin-bottom: 10px;
}

.category-top>p {
  width: 50%;
  color: #4A4A4A;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

.go-shop {
  color: #fff;
  padding: 14px 20px;
  background-color: #5AAC6E;
  border-radius: 4px;
}

.category-bottom figure {
  margin-bottom: 30px;
}

.category-bottom figcaption {
  font-size: 23px;
  font-weight: 700;
  color: #313132;
}

/*=================================
  categories styling ends here
=================================*/

/*=================================
  product styling starts here
=================================*/

.product-section {
  background-color: #E9EEF4;
  padding: 80px 0;
}

.product-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.product-top h2 {
  font-size: 50px;
  color: #313132;
  margin-bottom: 10px;
  text-align: center;
}

.product-top p {
  width: 45%;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
}

.articles {
  flex-basis: 100%;
}

.product-bottom img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-bottom article {
  margin-right: 40px;
}

.product-bottom article:last-child {
  margin-right: 0;
}

.article-bottom {
  background-color: #fff;
  padding: 20px 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.article-bottom p {
  width: 90%;
  font-size: 18px;
  color: #313132;
  line-height: 25px;
}

.yellow-star::before {
  content: "\f005";
  font-family: "FontAwesome";
  color: #EDEB59;
  cursor: pointer;
  margin-right: 3px;
}

.gray-star::before {
  content: "\f005";
  font-family: "FontAwesome";
  color: #BBBDBC;
  cursor: pointer;
  margin-right: 3px;

}

.star-ratings {
  display: flex;
}

.ratings-price {
  display: flex;
  justify-content: space-between;
}

.article-heading {
  font-size: 30px;
  margin-top: 20px;
}

.article-heading a {
  color: #222834;
}

.article-bottom .reviews {
  display: block;
  margin: 40px 0 60px;
  color: #C0BEC9;
  font-size: 20px;
}

/*=================================
  product styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

.footer-top {
  background-color: #222834;
  padding: 50px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3c3c3c;
  margin-bottom: 40px;
  padding: 20px 0;
}

.zay-shop {
  width: 50%;
  margin-right: 40px;
}

.zay-shop>h5 {
  font-size: 30px;
  border-bottom: 1px solid #3c3c3c;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.zay-shop>h5 a {
  color: #57B076;
}

.address-info a {
  font-size: 18px;
  color: #D8DAE2;
  display: block;
  margin-bottom: 20px;
}

.location-icon::before {
  content: "\f3c5";
  font-family: "FontAwesome";
  color: #D8DAE2;
  margin-right: 3px;
}

.location-icon {
  color: #D8DAE2;
}

.products-list {
  width: 50%;
  margin-right: 40px;
}

.products-list h5 {
  font-size: 30px;
  color: #D8DAE2;
  border-bottom: 1px solid #3c3c3c;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.products-list a {
  font-size: 18px;
  font-size: 18px;
  color: #D8DAE2;
  display: block;
  margin-bottom: 20px;
}

.further-info {
  width: 50%;
}

.further-info h5 {
  font-size: 30px;
  color: #D8DAE2;
  border-bottom: 1px solid #3c3c3c;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.further-info a {
  font-size: 18px;
  display: block;
  color: #D8DAE2;
  margin-bottom: 20px;
}

.footer-mid {
  display: flex;
  justify-content: space-between;
}

.sub-header-media {
  display: flex;
}

.medea-icon-circle {
  padding: 12px;
  border: 1px solid #4A4A4A;
  border-radius: 50%;
  font-size: 20px;
}

.sub-header-media li {
  margin-right: 10px;
}

.newsletter {
  display: flex;
}

.newsletter input {
  border: 1px solid #353435;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: none;
  padding: 16px;
  width: 15vw;
  font-size: 18px;
}

.newsletter button {
  background: #5AAC6E;
  border: none;
  padding: 3px 18px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  font-size: 18px;
}

.footer-bottom {
  font-size: 18px;
  background-color: #1F232E;
  color: #D8DAE2;
  padding: 30px 0;
}

.underline {
  color: #D8DAE2;
  border-bottom: 1px solid #D8DAE2;
}

/*=================================
  footer styling ends here
=================================*/


/*===================================
  media query for 995px hover effects starts here
=====================================*/

@media only screen and (min-width: 995px) {

  /* header hover effects */

  .icon:hover {
    color: #57B076;
  }

  .header-nav-links a:after {
    display: block;
    content: '';
    border-bottom: solid 3px #57B076;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  .header-nav-links a:hover:after {
    transform: scaleX(1);
  }

  .header-nav-links a:hover {
    color: #57B076;
  }

  .search-icon:hover::before {
    color: #57B076;
  }

  .cart-icon:hover::before {
    color: #57B076;
  }

  .profile-icon:hover::before {
    color: #57B076;
  }

  .previous {
    transition: 0.3s ease-in-out;
  }

  .previous:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }

  .next {
    transition: 0.3s ease-in-out;
  }

  .next:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }

  .category-bottom img {
    transition: 0.3s ease-in-out;
  }

  .category-bottom img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }

  .go-shop:hover {
    background-color: black;
    color: #57B076;
  }

  .reviews:hover {
    color: #57B076;
  }

  .location-icon:hover::before {
    color: #57B076;
  }

  .address-info a:hover {
    color: #57B076;
  }

  .products-list a:hover {
    color: #57B076;
  }

  .further-info a:hover {
    color: #57B076;
  }

  .underline:hover {
    color: #57B076;
  }

  .newsletter button:hover {
    background-color: #FFF;
    color: #57B076;
  }
}

/*===================================
  media query for 995px hover effects ends here
=====================================*/

/*===================================
  media query for 1003px starts here
=====================================*/

@media only screen and (max-width: 1003px) {
  .header-nav-links>li {
    margin-right: 50px;
  }

  .header-nav-links {
    display: none;
  }

  .hamberger-icon {
    display: block;
  }

  .hamberger-icon::before {
    content: "\f0c9";
    font-family: "FontAwesome";
    color: #1C2320;
    margin-right: 10px;
    font-size: 20px;
  }

  .banner-slider h2 {
    font-size: 40px;
  }

  .banner-slider h3 {
    font-size: 27px;
  }

  .banner-slider p {
    font-size: 16px;
  }

  .category-top>h2 {
    font-size: 40px;
  }

  .category-top>p {
    font-size: 16px;
  }

  .category-bottom img {
    width: 80%;
  }

  .product-top h2 {
    font-size: 40px;
  }

  .product-top p {
    font-size: 16px;
  }

  .article-heading {
    font-size: 25px;
  }

  .article-bottom p {
    font-size: 16px;
  }

  .article-bottom .reviews {
    font-size: 18px;
  }

  .zay-shop>h5 {
    font-size: 25px;
  }

  .products-list h5 {
    font-size: 25px;
  }

  .further-info h5 {
    font-size: 25px;
  }

  .address-info a {
    font-size: 16px;
  }

  .products-list a {
    font-size: 16px;
  }

  .further-info a {
    font-size: 16px;
  }

  .footer-bottom {
    font-size: 16px;
  }

  .newsletter button {
    padding: 3px 13px;
    font-size: 13px;
  }

  .newsletter input {
    padding: 16px;
    width: 12vw;
    font-size: 14px;
  }

  .medea-icon-circle {
    padding: 12px;
    border: 1px solid #4A4A4A;
    border-radius: 50%;
    font-size: 14px;
  }
}

/*===================================
  media query for 1003px ends here
=====================================*/


/*===================================
  media query for 768px starts here
=====================================*/

@media only screen and (max-width: 768px) {

  .header-top {
    font-size: 9px;
  }

  .logo a {
    font-size: 50px;
  }

  .main-header-icons {
    font-size: 10px;
  }

  .active img {
    width: 80%;
  }

  .banner-slider li:first-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .banner-slider p {
    font-size: 14px;
    max-width: 60vw;
  }

  .category-top>h2 {
    text-align: center;
  }

  .category-top>p {
    font-size: 14px;
  }

  .category-bottom {
    flex-direction: column;
  }
  
  .category-bottom li {
    margin-bottom: 40px; 
  }

  .category-bottom li:last-child {
    margin-bottom: 0; 
  }

  .product-top p {
    font-size: 14px;
  }

  .product-bottom {
    flex-direction: column;
  }

  .product-bottom article {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .zay-shop {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .products-list {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .zay-shop>h5 {
    text-align: center;
  }

  .products-list a {
    font-size: 12px;
  }

  .address-info a {
    font-size: 12px;
  }

  .further-info a {
    font-size: 12px;
  }

  .further-info {
    text-align: center;
  }

  .footer-mid {
    flex-direction: column;
    align-items: center;
  }

  .sub-header-media li:last-child {
    margin-right: 0;
  }

  .sub-header-media {
    margin-bottom: 30px;
  }

  .newsletter input {
    width: 30vw;
  }

  .newsletter button {
    padding: 15px 20px;
  }

  .footer-bottom p{
    text-align: center;
  }

  .medea-icon-circle {
    font-size: 12px;
  }

  .footer-bottom {
    font-size: 14px;
  }

  .search-icon::before {
    font-size: 16px;
  }

  .cart-icon::before {
    font-size: 16px;
  }

  .profile-icon::before {
    font-size: 16px;
  }

  .hamberger-icon::before {
    font-size: 16px;
  }
}

/*===================================
  media query for 768px ends here
=====================================*/


/*===================================
  media query for 480px starts here
=====================================*/

@media only screen and (max-width: 480px) {
  .logo a {
    font-size: 48px;
  }

  .banner-slider h2 {
    font-size: 30px;
  }

  .banner-slider h3 {
    font-size: 18px;
  }

  .banner-slider p {
    font-size: 12px;
    line-height: 20px;
  }

  .active img {
    width: 60%;
  }

  .category-top>h2 {
    font-size: 30px;
  }

  .category-top>p {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
  }

  .category-top {
    margin-bottom: 50px;
  }

  .categories-section {
    padding: 50px 0;
  }

  .product-top h2 {
    font-size: 30px;
  }

  .product-top p {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
  }

  .product-top {
    margin-bottom: 30px;
  }

  .article-heading {
    font-size: 20px;
  }

  .article-bottom p {
    font-size: 12px;
    line-height: 20px;
  }

  .article-bottom .reviews {
    font-size: 16px;
  }

  .medea-icon-circle {
    font-size: 10px;
  }

  .newsletter input {
    width: 40vw;
  }

  .footer-bottom {
    font-size: 12px;
  }
}

/*===================================
  media query for 480px ends here
=====================================*/