@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.text-hide {
  display: none;
}

/*for wrapper*/
.wrapper {
  width: 86.50%;
  max-width: 1175px;
  margin: 0 auto;
}

/*=================================
  Header-Top styling starts here
=================================*/

.header-top {
  background-color: #222834;
  padding: 14px 0;
  font-size: 12px;
}

.header-top .wrapper {
  width: 86%;
  display: flex;
  justify-content: space-between;
}

.header-top-contact > a{
  margin-right: 10px;
}

.icon {
  color: #D8DAE2;
  text-indent: -9999px;
}

.mail-icon::before {
  content: "\f0e0";
  font-family: "FontAwesome";
  color: #D8DAE2;
  margin-right: 10px;
}

.phone-icon::before {
  content: "\f879";
  font-family: "FontAwesome";
  color: #fff;
  margin-right: 10px;
}

.header-top-media {
  display: flex;
}

.facebook::before {
  content: "\f39e";
  font-family: "FontAwesome";
  color: #fff;
  margin-right: 10px;
}

.instagram::before {
  content: "\f16d";
  font-family: "FontAwesome";
  color: #fff;
  margin-right: 10px;
}

.twitter::before {
  content: "\f099";
  font-family: "FontAwesome";
  color: #fff;
  margin-right: 10px;
}

.linked-in::before {
  content: "\f08c";
  font-family: "FontAwesome";
  color: #fff;
  margin-right: 10px;
}

/*=================================
  Header-Top styling ends here
=================================*/

/*=================================
  Header-bottom styling starts here
=================================*/

.header-bottom {
  padding: 20px 0;
}

.header-bottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-links {
  display: flex;
}

.header-nav-links > li {
  margin-right: 100px;
  font-size: 20px;
}

.header-nav-links a {
  color: #4A4A4A;
}

.header-nav-links li:last-child {
  margin-right: 0;
}

.main-header-icons {
  display: flex;
}

.search-icon::before {
  content: "\f002";
  font-family: "FontAwesome";
  color: #1C2320;
  margin-right: 10px;
  font-size: 20px;
}

.cart-icon::before {
  content: "\f218";
  font-family: "FontAwesome";
  color: #1C2320;
  font-size: 20px;
  margin-right: 10px;
}

.profile-icon::before {
  content: "\f007";
  font-family: "FontAwesome";
  color: #1C2320;
  font-size: 20px;
  margin-right: 10px;
}

.search-icon {
  border: none;
  background: none;
}

.search-form input {
  display: none;
}

.logo a{
  color: #57B26E;
  font-size: 50px;
  font-weight: 600;
}

/*=================================
  Header-bottom styling ends here
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner-section {
  background-color: #EFEFEF;
  padding: 50px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.banner-section .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.previous-next-btn {
  display: flex;
  justify-content: space-between;
}

.banner-slider {
  display: flex;
  margin-bottom: 40px;
}

.banner-slider li {
  display: none;
}

.banner-slider li:first-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-slider h2 {
  font-size: 50px;
  color: #4A4A4A;
  margin-bottom: 10px;
}
.banner-slider h3 {
  font-size: 30px;
  color: #313132;
  margin-bottom: 5px;
}

.banner-slider p {
  color: #4A4A4A;
  line-height: 25px;
  max-width: 35vw;
}

.text-black {
  color: #1C2320;
}

.previous::before {
  content: "\f104";
  font-family: "FontAwesome";
  color: #A4CBAC;
  font-size: 50px;
}

.next::after {
  content: "\f105";
  font-family: "FontAwesome";
  color: #A4CBAC;
  font-size: 50px;
}

.previous {
  background: none;
  border: none;
  position: absolute;
  left: 0;
}

.next{
  background: none;
  border: none;
  position: absolute;
  right: 0;
}

.banner-navigation li {
  background-color: #A5CEAF;
  width: 30px;
  height: 4px;
  margin-right: 10px;
}

.banner-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-text {
  margin-right: 20px;
}

.banner-navigation > .active {
  background-color: #59A96A;
}

/*=================================
  banner styling ends here
=================================*/

/*=================================
  categories styling starts here
=================================*/

.categories-section {
  padding: 80px 0;
}

.categories-section .wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.category-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-bottom img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.category-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.category-bottom li {
  text-align: center;
}

.category-top > h2 {
  font-size: 50px;
  color: #4A4A4A;
  margin-bottom: 10px;
}

.category-top > p {
  width: 40%;
  color: #4A4A4A;
  text-align: center;
  line-height: 25px;
}

.go-shop {
  color: #fff;
  padding: 14px 20px;
  background-color: #5AAC6E;
  border-radius: 4px;
}

.category-bottom figure {
  margin-bottom: 30px;
}

.category-bottom figcaption {
  font-size: 23px;
  font-weight: 700;
  color: #313132;
}

/*=================================
  categories styling ends here
=================================*/

/*=================================
  product styling starts here
=================================*/

.product-section {
  background-color: #E9EEF4;
  padding: 80px 0;
}

.product-section .wrapper {

}

.product-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.product-top h2 {
  font-size: 50px;
  color: #313132;
  margin-bottom: 10px;
  text-align: center;
}

.product-top p {
  width: 40%;
  text-align: center;
  line-height: 25px;
}

.product-bottom {
  display: flex;
  justify-content: space-between;
}

.product-bottom article {
  margin-right: 10px;
}

.article-bottom {
  background-color: #fff;
  padding: 10px;
  width: 330px;
}

.article-bottom p{
  width: 90%;
}

.yellow-star::before {
  content: "\f005";
  font-family: "FontAwesome";
  color: #EDEB59;
}

.gray-star::before {
  content: "\f005";
  font-family: "FontAwesome";
  color: #BBBDBC;
}

.star-ratings {
  display: flex;
}

.ratings-price {
  display: flex;
  justify-content: space-between;
}

.article-heading {
  font-size: 25px;
  margin-top: 20px;
}

.article-heading a {
  color: #222834; 
}

.article-bottom p {
  color: #313132;
}

.article-bottom .reviews {
  display: block;
  margin: 20px 0 40px;
  color: #C0BEC9;
}
 
/*=================================
  product styling ends here
=================================*/